node-red/.flows.json.backup
[{"id":"1f930925fe64a907","type":"tab","label":"State Change","disabled":false,"info":"","env":[]},{"id":"4148ea9d893d1559","type":"tab","label":"Input","disabled":false,"info":"","env":[]},{"id":"26f5bae9.f55856","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"91f308dbea769574","type":"server-state-changed","z":"1f930925fe64a907","name":"No Motion in hall","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_move_sensor_in_hall_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":60,"wires":[["3d92bf15fdf80ae4"],["51042c2d1092712b"]]},{"id":"51042c2d1092712b","type":"api-call-service","z":"1f930925fe64a907","name":"Light On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":80,"wires":[["bea2147998154ffb"]]},{"id":"3d92bf15fdf80ae4","type":"api-call-service","z":"1f930925fe64a907","name":"Light Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":40,"wires":[[]]},{"id":"bea2147998154ffb","type":"trigger","z":"1f930925fe64a907","name":"Wait 60s","op1":"Dim","op2":"","op1type":"str","op2type":"str","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":500,"y":80,"wires":[[],["13fea0eb7082cb4b"]]},{"id":"7f172cb7401f55cb","type":"api-call-service","z":"1f930925fe64a907","name":"Light Dim","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":80,"wires":[[]]},{"id":"13fea0eb7082cb4b","type":"api-current-state","z":"1f930925fe64a907","name":"Light is On","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.mi_yeelink_bulb","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":80,"wires":[["7f172cb7401f55cb"],[]]},{"id":"f3a46facc79fe36c","type":"server-state-changed","z":"1f930925fe64a907","name":"Coffee On","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.socket_coffee","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":280,"wires":[["9b2e0efdb842e356"],[]]},{"id":"9b2e0efdb842e356","type":"api-call-service","z":"1f930925fe64a907","name":"Turn Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["kitchen"],"deviceId":["49720828797d7d5d76642f037f7ce6f3"],"entityId":["switch.socket_coffee"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":280,"wires":[[]]},{"id":"92fcab886c93c81f","type":"server-state-changed","z":"1f930925fe64a907","name":"Phone GPS home","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.asfrantsoneplus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":360,"wires":[["be54055b462c0e44"],["937b39d3b39f12b0"]]},{"id":"be54055b462c0e44","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Coming","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{\"options\":\"Coming\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":360,"wires":[["355e685dab29dbe2"]]},{"id":"355e685dab29dbe2","type":"trigger","z":"1f930925fe64a907","name":"Wait 10m","op1":"wait","op2":"off","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":360,"wires":[[],["c0396f38e241e8b0"]]},{"id":"c0396f38e241e8b0","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Home","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{\"options\":\"Home\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":360,"wires":[[]]},{"id":"f36532e4c24bb49a","type":"comment","z":"1f930925fe64a907","name":"Свет в коридоре по движению","info":"При движении в коридоре включить свет на макс яркости, \nприглушить через минуту сделав яркость 50%,\nвыключить еще через минуту если больше нет движения","x":1250,"y":60,"wires":[]},{"id":"7dd49bdaeb498712","type":"comment","z":"1f930925fe64a907","name":"Выключение кофеварки","info":"Выключить через 10 минут после запуска","x":1250,"y":260,"wires":[]},{"id":"30b6277d4c8331fc","type":"comment","z":"1f930925fe64a907","name":"Изменение состояния присутствия","info":"Coming/Leaving/Home/Away/Other\nПри изменении состоянии телефона на Home переключить input_select на Coming, \nвыключить сигнализацию,\n\nПри изменении состоянии телефона на not Home переключить input_select на Leaving, \nвключить сигнализацию,","x":1260,"y":400,"wires":[]},{"id":"2042b718f3483efb","type":"server-state-changed","z":"1f930925fe64a907","name":"Hall Motion","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_move_sensor_in_hall_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":580,"wires":[["a24e80205bd24593"],[]]},{"id":"a24e80205bd24593","type":"api-current-state","z":"1f930925fe64a907","name":"If State is Coming","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Coming","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":540,"wires":[["0b13584f37127fab"],[]]},{"id":"2b0261cd171c1ce9","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Evening Welcome","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_evening_coming","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":520,"wires":[[]]},{"id":"d50aa710f2533120","type":"api-current-state","z":"1f930925fe64a907","name":"If State is Home","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":600,"wires":[["f5b63b333b8a1aa3"],[]]},{"id":"59ce0d4e97e1033c","type":"api-call-service","z":"1f930925fe64a907","name":"Alarm On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_away","areaId":["media"],"deviceId":["9cef062f06d1163b79d882c72c7f4a8e"],"entityId":["alarm_control_panel.alarmo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":420,"wires":[[]]},{"id":"684ee36ea3171034","type":"api-call-service","z":"1f930925fe64a907","name":"Alarm Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":["media"],"deviceId":["9cef062f06d1163b79d882c72c7f4a8e"],"entityId":["alarm_control_panel.alarmo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":360,"wires":[[]]},{"id":"2a655030709d89b9","type":"trigger","z":"1f930925fe64a907","name":"Wait 10m","op1":"wait","op2":"off","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":440,"wires":[[],["1d6fbf8dac8695fb"]]},{"id":"1d6fbf8dac8695fb","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Away","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{\"options\":\"Away\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":440,"wires":[["c262bbe1e474d496"]]},{"id":"7914e2e2d92deecc","type":"comment","z":"1f930925fe64a907","name":"Приветствие или прощание Алисы","info":"По движению в коридоре и состоянию сенсоров\nвключить сценарии приветствия или прощания","x":1260,"y":540,"wires":[]},{"id":"277555f0e88ac4bf","type":"server-state-changed","z":"1f930925fe64a907","name":"Morning Alarm Time","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.one_plus_next_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":700,"wires":[["2666466a04c84bbb"]]},{"id":"ef0250159bed58b0","type":"api-current-state","z":"1f930925fe64a907","name":"Is it ok to Alarm","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.morning_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":880,"wires":[["e517da267decaf3f"],[]]},{"id":"4ff583d81e79d379","type":"api-call-service","z":"1f930925fe64a907","name":"Morning Alarm Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.morning_alarm"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":760,"wires":[[]]},{"id":"4d2a8861a54427f3","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Morning Hello","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_morning_hello","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":880,"wires":[["db8c2d05083e4687"]]},{"id":"0b13584f37127fab","type":"api-current-state","z":"1f930925fe64a907","name":"Dark Outside","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dark_outside","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":540,"wires":[["2b0261cd171c1ce9"],["371769509191a633"]]},{"id":"371769509191a633","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Welcome","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_coming","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":560,"wires":[[]]},{"id":"6e548bc97039cee1","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Goodbye","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_leaving","areaId":[],"deviceId":[],"entityId":[],"data":"{sendText:'Повтори за мной \"Тестовое уведомление\"'}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":600,"wires":[["97b8882f759afe26"]]},{"id":"802d2cf506b8d733","type":"server-state-changed","z":"1f930925fe64a907","name":"NFC bedside Scan","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.nfc_phone_charge_scanned","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1000,"wires":[["9dd76822dbdef4f2"],[]]},{"id":"9dd76822dbdef4f2","type":"api-current-state","z":"1f930925fe64a907","name":"Is it Dark","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dark_outside","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":1040,"wires":[["2a544c5510c4807f"],[]]},{"id":"c143d7208aaa5d31","type":"api-call-service","z":"1f930925fe64a907","name":"Turn Light On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"turn_on_bedside_light","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":1000,"wires":[[]]},{"id":"339d92865b243d6b","type":"api-call-service","z":"1f930925fe64a907","name":"NFC Status Drop","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.nfc_phone_charge_scanned"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":1040,"wires":[[]]},{"id":"f5b63b333b8a1aa3","type":"api-current-state","z":"1f930925fe64a907","name":"Is it First leave","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.leaving","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":600,"wires":[["3a04e832a031c13b","6e548bc97039cee1"],[]]},{"id":"3a04e832a031c13b","type":"api-call-service","z":"1f930925fe64a907","name":"Leave state On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.leaving"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":640,"wires":[["6a82772b32946b3b"]]},{"id":"6a82772b32946b3b","type":"delay","z":"1f930925fe64a907","name":"Delay 15min","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":930,"y":640,"wires":[["0079b15a82c5ed17"]]},{"id":"0079b15a82c5ed17","type":"api-call-service","z":"1f930925fe64a907","name":"Leave state Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.leaving"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":640,"wires":[[]]},{"id":"2a544c5510c4807f","type":"trigger","z":"1f930925fe64a907","name":"Light On, Wait 15min to Drop state","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"15","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":500,"y":1000,"wires":[["c143d7208aaa5d31"],["339d92865b243d6b"]]},{"id":"87719ee8d3b45946","type":"trigger","z":"1f930925fe64a907","name":"Alarm flag Off, Delay Alice for 5min ","op1":"off","op2":"on","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":440,"y":780,"wires":[["4ff583d81e79d379","d34f0b116d16e385"],["01d6068f5ffb823d"]]},{"id":"10cb96d0c00b0ba3","type":"comment","z":"1f930925fe64a907","name":"Включение ночника по NFC","info":"","x":1240,"y":1040,"wires":[]},{"id":"e2fa54d4bba9e272","type":"comment","z":"1f930925fe64a907","name":"Утренний будильник","info":"","x":1240,"y":780,"wires":[]},{"id":"2666466a04c84bbb","type":"api-call-service","z":"1f930925fe64a907","name":"Set Alarm","server":"26f5bae9.f55856","version":5,"debugenabled":true,"domain":"input_datetime","service":"set_datetime","areaId":[],"deviceId":[],"entityId":["input_datetime.morning_alarm_time"],"data":"{\"datetime\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":700,"wires":[[]]},{"id":"8abd86d989468c56","type":"server-state-changed","z":"1f930925fe64a907","name":"Morning Alarm is On","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.morning_alarm_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":780,"wires":[["ef0250159bed58b0"],[]]},{"id":"459242c638f4812a","type":"comment","z":"1f930925fe64a907","name":"Установка будильника","info":"","x":1240,"y":700,"wires":[]},{"id":"ee0d3df2184ae0c1","type":"delay","z":"1f930925fe64a907","name":"Delay 2min","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":570,"y":880,"wires":[["4d2a8861a54427f3","10cae5ab0b0601ce"]]},{"id":"01d6068f5ffb823d","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Morning Music","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_morning_alarm","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":840,"wires":[["ee0d3df2184ae0c1","88600e0a423b6b3c"]]},{"id":"1409e8ee36fbfc58","type":"api-call-service","z":"1f930925fe64a907","name":"Coffee Ready","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_coffee_ready","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":280,"wires":[[]]},{"id":"7d1dfa86cef4545e","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Weather","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_weather","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":600,"wires":[[]]},{"id":"97b8882f759afe26","type":"delay","z":"1f930925fe64a907","name":"Delay 3sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":930,"y":600,"wires":[["7d1dfa86cef4545e"]]},{"id":"db8c2d05083e4687","type":"delay","z":"1f930925fe64a907","name":"Delay 3sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":950,"y":880,"wires":[["4d436b8a3a2a17a2"]]},{"id":"4d436b8a3a2a17a2","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Show","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_start_show","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":880,"wires":[[]]},{"id":"88600e0a423b6b3c","type":"delay","z":"1f930925fe64a907","name":"Delay 30sec","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":840,"wires":[["62771e2048976b09"]]},{"id":"62771e2048976b09","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Volume Up","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_lowder","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":840,"wires":[[]]},{"id":"38531a5bb40f6e10","type":"api-call-service","z":"1f930925fe64a907","name":"Curtain Open","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":["a18ecb4735a77ae18319aadc9c2e7de0"],"entityId":["cover.curtain"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":800,"wires":[[]]},{"id":"d34f0b116d16e385","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Morning Hello","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_morning_hello","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":800,"wires":[["38531a5bb40f6e10"]]},{"id":"e517da267decaf3f","type":"api-current-state","z":"1f930925fe64a907","name":"Am I Home","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.asfrantsoneplus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":840,"wires":[["87719ee8d3b45946"],[]]},{"id":"a0167b2aa0f38598","type":"server-state-changed","z":"1f930925fe64a907","name":"Door Opens","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_door_sensor_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":180,"wires":[["ca30a9b591d57478","4344660dc561f5cd"],["dc2c0202cc825840"]]},{"id":"5e7d9bf4ce16e562","type":"comment","z":"1f930925fe64a907","name":"Открытие входной двери","info":"Включение света","x":1250,"y":160,"wires":[]},{"id":"ca30a9b591d57478","type":"api-current-state","z":"1f930925fe64a907","name":"Check My State","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Other","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":180,"wires":[["ca5bab8286a14f8e"],[]]},{"id":"e3f2fc4974faae85","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Coming","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{'options':'Coming'}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":140,"wires":[[]]},{"id":"937b39d3b39f12b0","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Leaving","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{\"options\":\"Leaving\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":440,"wires":[["2a655030709d89b9"]]},{"id":"915c3fa57ce88662","type":"server-state-changed","z":"1f930925fe64a907","name":"Connect to WiFi 5G","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.one_plus_5g","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":440,"wires":[["be54055b462c0e44"],[]]},{"id":"dd3c9ae4fc8e23d3","type":"server-state-changed","z":"1f930925fe64a907","name":"Connect to WiFi","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.one_plus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":400,"wires":[["be54055b462c0e44"],[]]},{"id":"ca5bab8286a14f8e","type":"switch","z":"1f930925fe64a907","name":"My State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Coming","vt":"str"},{"t":"eq","v":"Leaving","vt":"str"},{"t":"eq","v":"Home","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":560,"y":160,"wires":[["e3f2fc4974faae85"],[],[],["39f9bd34672f3fb5"]]},{"id":"4344660dc561f5cd","type":"api-call-service","z":"1f930925fe64a907","name":"Light Dim","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":140,"wires":[[]]},{"id":"39f9bd34672f3fb5","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Leaving","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{'options':'Leaving'}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":180,"wires":[[]]},{"id":"dc2c0202cc825840","type":"api-current-state","z":"1f930925fe64a907","name":"If State is Coming","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Coming","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":220,"wires":[["108f04740275760f"],[]]},{"id":"108f04740275760f","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Home","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{'options':'Home'}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":220,"wires":[[]]},{"id":"10cae5ab0b0601ce","type":"api-call-service","z":"1f930925fe64a907","name":"Turn Light On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"turn_on_bedside_light","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":920,"wires":[[]]},{"id":"c262bbe1e474d496","type":"api-call-service","z":"1f930925fe64a907","name":"Light Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":460,"wires":[[]]}]