node-red/flows.json
[{"id":"1f930925fe64a907","type":"tab","label":"Hall","disabled":false,"info":"","env":[]},{"id":"4148ea9d893d1559","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"26f5bae9.f55856","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"91f308dbea769574","type":"server-state-changed","z":"1f930925fe64a907","name":"No Motion in hall","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_move_sensor_in_hall_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":120,"wires":[["3d92bf15fdf80ae4"],["51042c2d1092712b","bea2147998154ffb"]]},{"id":"51042c2d1092712b","type":"api-call-service","z":"1f930925fe64a907","name":"Light On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":140,"wires":[[]]},{"id":"3d92bf15fdf80ae4","type":"api-call-service","z":"1f930925fe64a907","name":"Light Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":80,"wires":[[]]},{"id":"bea2147998154ffb","type":"trigger","z":"1f930925fe64a907","name":"Wait 60s","op1":"Dim","op2":"","op1type":"str","op2type":"str","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":320,"y":200,"wires":[[],["13fea0eb7082cb4b"]]},{"id":"7f172cb7401f55cb","type":"api-call-service","z":"1f930925fe64a907","name":"Light Dim","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":200,"wires":[[]]},{"id":"13fea0eb7082cb4b","type":"api-current-state","z":"1f930925fe64a907","name":"Light is On","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.mi_yeelink_bulb","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":200,"wires":[["7f172cb7401f55cb"],[]]},{"id":"f3a46facc79fe36c","type":"server-state-changed","z":"1f930925fe64a907","name":"Coffee On","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.socket_coffee","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":340,"wires":[["9b2e0efdb842e356"],[]]},{"id":"9b2e0efdb842e356","type":"api-call-service","z":"1f930925fe64a907","name":"Turn Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["kitchen"],"deviceId":["49720828797d7d5d76642f037f7ce6f3"],"entityId":["switch.socket_coffee"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":340,"wires":[[]]},{"id":"92fcab886c93c81f","type":"server-state-changed","z":"1f930925fe64a907","name":"Phone change to Coming","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.asfrantsoneplus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":460,"wires":[["be54055b462c0e44","684ee36ea3171034"],[]]},{"id":"be54055b462c0e44","type":"api-call-service","z":"1f930925fe64a907","name":"Coming","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{\"option\":\"Coming\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":440,"wires":[["355e685dab29dbe2"]]},{"id":"355e685dab29dbe2","type":"trigger","z":"1f930925fe64a907","name":"Wait 10m","op1":"wait","op2":"off","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":500,"y":440,"wires":[[],["c0396f38e241e8b0"]]},{"id":"c0396f38e241e8b0","type":"api-call-service","z":"1f930925fe64a907","name":"Drop","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{\"option\":\"Other\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":440,"wires":[[]]},{"id":"f36532e4c24bb49a","type":"comment","z":"1f930925fe64a907","name":"Свет в коридоре по движению","info":"При движении в коридоре включить свет на макс яркости, \nприглушить через минуту сделав яркость 50%,\nвыключить еще через минуту если больше нет движения","x":970,"y":60,"wires":[]},{"id":"7dd49bdaeb498712","type":"comment","z":"1f930925fe64a907","name":"Выключение кофеварки","info":"Выключить через 10 минут после запуска","x":950,"y":340,"wires":[]},{"id":"30b6277d4c8331fc","type":"comment","z":"1f930925fe64a907","name":"Изменение состояния Coming/Leaving/Other","info":"При изменении состоянии телефона на Home переключить input_select на Coming, \nвыключить сигнализацию,\n\nПри изменении состоянии телефона на not Home переключить input_select на Leaving, \nвключить сигнализацию,","x":950,"y":480,"wires":[]},{"id":"2042b718f3483efb","type":"server-state-changed","z":"1f930925fe64a907","name":"Hall Motion","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_move_sensor_in_hall_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":640,"wires":[["a24e80205bd24593","d50aa710f2533120"],[]]},{"id":"a24e80205bd24593","type":"api-current-state","z":"1f930925fe64a907","name":"State Coming","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Coming","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":640,"wires":[["0b13584f37127fab"],[]]},{"id":"2b0261cd171c1ce9","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Evening Welcome","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"alice_evening_coming_dialog","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":620,"wires":[[]]},{"id":"d50aa710f2533120","type":"api-current-state","z":"1f930925fe64a907","name":"Check presence","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Coming","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":700,"wires":[["2f2af2f6c2a71508"],[]]},{"id":"2f2af2f6c2a71508","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Goodbye","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"alice_leaving_dialog","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":700,"wires":[[]]},{"id":"2b1b2d2a59557009","type":"api-call-service","z":"1f930925fe64a907","name":"Alarm","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_trigger","areaId":["media"],"deviceId":["9cef062f06d1163b79d882c72c7f4a8e"],"entityId":["alarm_control_panel.alarmo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":740,"wires":[[]]},{"id":"1ee6b25d2155352e","type":"server-state-changed","z":"1f930925fe64a907","name":"Phone change to Leaving","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.home_come_leave","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Leaving","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":540,"wires":[["59ce0d4e97e1033c"],[]]},{"id":"59ce0d4e97e1033c","type":"api-call-service","z":"1f930925fe64a907","name":"Alarm On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_away","areaId":["media"],"deviceId":["9cef062f06d1163b79d882c72c7f4a8e"],"entityId":["alarm_control_panel.alarmo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":540,"wires":[["2a655030709d89b9"]]},{"id":"684ee36ea3171034","type":"api-call-service","z":"1f930925fe64a907","name":"Alarm Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":["media"],"deviceId":["9cef062f06d1163b79d882c72c7f4a8e"],"entityId":["alarm_control_panel.alarmo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":480,"wires":[[]]},{"id":"2a655030709d89b9","type":"trigger","z":"1f930925fe64a907","name":"Wait 10m","op1":"wait","op2":"off","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":500,"y":540,"wires":[[],["1d6fbf8dac8695fb"]]},{"id":"1d6fbf8dac8695fb","type":"api-call-service","z":"1f930925fe64a907","name":"Drop","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{\"option\":\"Other\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":540,"wires":[[]]},{"id":"7914e2e2d92deecc","type":"comment","z":"1f930925fe64a907","name":"Приветствие или прощание Алисы","info":"По движению в коридоре и состоянию сенсоров\nвключить сценарии приветствия или прощания","x":980,"y":680,"wires":[]},{"id":"277555f0e88ac4bf","type":"server-state-changed","z":"1f930925fe64a907","name":"Morning Alarm is set","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.one_plus_next_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":840,"wires":[["ef0250159bed58b0"],[]]},{"id":"ef0250159bed58b0","type":"api-current-state","z":"1f930925fe64a907","name":"Is it First Alarm","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":840,"wires":[["4ff583d81e79d379","e8d5f4ee0343bd43"],[]]},{"id":"4ff583d81e79d379","type":"api-call-service","z":"1f930925fe64a907","name":"Morning Alarm Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.alarm"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":880,"wires":[[]]},{"id":"e8d5f4ee0343bd43","type":"delay","z":"1f930925fe64a907","name":"Delay 5min","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":840,"wires":[["4d2a8861a54427f3"]]},{"id":"4d2a8861a54427f3","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Good Morning","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"alice_morning_dialog","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":840,"wires":[[]]},{"id":"0b13584f37127fab","type":"api-current-state","z":"1f930925fe64a907","name":"Dark Outside","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dark_outside","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":640,"wires":[["2b0261cd171c1ce9"],["371769509191a633"]]},{"id":"371769509191a633","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Welcome","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"alice_coming_dialog","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":660,"wires":[[]]}]