node-red/flows.json
[{"id":"1f930925fe64a907","type":"tab","label":"State Change","disabled":false,"info":"","env":[]},{"id":"4148ea9d893d1559","type":"tab","label":"Input","disabled":false,"info":"","env":[]},{"id":"26f5bae9.f55856","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"f3a46facc79fe36c","type":"server-state-changed","z":"1f930925fe64a907","name":"Coffee On","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.socket_coffee","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":320,"wires":[["3027e632acb1c60c"],[]]},{"id":"9b2e0efdb842e356","type":"api-call-service","z":"1f930925fe64a907","name":"Turn Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["kitchen"],"deviceId":["49720828797d7d5d76642f037f7ce6f3"],"entityId":["switch.socket_coffee"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":320,"wires":[[]]},{"id":"f36532e4c24bb49a","type":"comment","z":"1f930925fe64a907","name":"Свет в коридоре","info":"При движении в коридоре включить свет на макс яркости, \nприглушить через минуту сделав яркость 50%,\nвыключить еще через минуту если больше нет движения","x":1200,"y":460,"wires":[]},{"id":"7dd49bdaeb498712","type":"comment","z":"1f930925fe64a907","name":"Выключение кофеварки","info":"Выключить через 10 минут после запуска","x":1230,"y":320,"wires":[]},{"id":"2b0261cd171c1ce9","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Evening Welcome","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_evening_coming","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":200,"wires":[[]]},{"id":"277555f0e88ac4bf","type":"server-state-changed","z":"1f930925fe64a907","name":"Morning Alarm Time","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.one_plus_next_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":700,"wires":[["2666466a04c84bbb"]]},{"id":"ef0250159bed58b0","type":"api-current-state","z":"1f930925fe64a907","name":"Is it ok to Alarm","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.morning_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":780,"wires":[["e517da267decaf3f"],[]]},{"id":"4ff583d81e79d379","type":"api-call-service","z":"1f930925fe64a907","name":"Morning Alarm Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.morning_alarm"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":780,"wires":[["01d6068f5ffb823d","72d2e205c87e8b8b","c3fff62252dff7ec"]]},{"id":"371769509191a633","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Welcome","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_coming","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":240,"wires":[[]]},{"id":"802d2cf506b8d733","type":"server-state-changed","z":"1f930925fe64a907","name":"NFC bedside Scan","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.nfc_phone_charge_scanned","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":580,"wires":[["9dd76822dbdef4f2"],[]]},{"id":"9dd76822dbdef4f2","type":"api-current-state","z":"1f930925fe64a907","name":"Is it Dark","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dark_outside","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":580,"wires":[["2a544c5510c4807f"],[]]},{"id":"c143d7208aaa5d31","type":"api-call-service","z":"1f930925fe64a907","name":"Turn Light On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["living_room"],"deviceId":["77e1896af65516a68096c8cc777f8bea"],"entityId":["switch.zigbee_switch_l1","switch.zigbee_switch_l2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":580,"wires":[[]]},{"id":"339d92865b243d6b","type":"api-call-service","z":"1f930925fe64a907","name":"NFC Status Drop","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.nfc_phone_charge_scanned"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":620,"wires":[[]]},{"id":"2a544c5510c4807f","type":"trigger","z":"1f930925fe64a907","name":"Light On, Wait, Drop state","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"15","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":530,"y":580,"wires":[["c143d7208aaa5d31"],["339d92865b243d6b"]]},{"id":"10cb96d0c00b0ba3","type":"comment","z":"1f930925fe64a907","name":"Включение ночника по NFC","info":"","x":1240,"y":600,"wires":[]},{"id":"e2fa54d4bba9e272","type":"comment","z":"1f930925fe64a907","name":"Утренний будильник","info":"","x":1260,"y":920,"wires":[]},{"id":"2666466a04c84bbb","type":"api-call-service","z":"1f930925fe64a907","name":"Set Alarm","server":"26f5bae9.f55856","version":5,"debugenabled":true,"domain":"input_datetime","service":"set_datetime","areaId":[],"deviceId":[],"entityId":["input_datetime.morning_alarm_time"],"data":"{\"datetime\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":700,"wires":[[]]},{"id":"8abd86d989468c56","type":"server-state-changed","z":"1f930925fe64a907","name":"Morning Alarm is On","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.morning_alarm_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":780,"wires":[["ef0250159bed58b0"],[]]},{"id":"459242c638f4812a","type":"comment","z":"1f930925fe64a907","name":"Установка будильника","info":"","x":1260,"y":700,"wires":[]},{"id":"01d6068f5ffb823d","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Morning Music","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_morning_alarm","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":740,"wires":[["f568d5aa6c08392c"]]},{"id":"1409e8ee36fbfc58","type":"api-call-service","z":"1f930925fe64a907","name":"Coffee Ready","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_coffee_ready","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":320,"wires":[[]]},{"id":"97b8882f759afe26","type":"delay","z":"1f930925fe64a907","name":"Delay 5sec","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":200,"wires":[["1081bd279b9c6cbd"]]},{"id":"db8c2d05083e4687","type":"delay","z":"1f930925fe64a907","name":"Delay 3sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1110,"y":820,"wires":[["93ae1164f0caaa22"]]},{"id":"4d436b8a3a2a17a2","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Weather","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_weather","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":860,"wires":[["ba6f91ec6d8caa4f"]]},{"id":"38531a5bb40f6e10","type":"api-call-service","z":"1f930925fe64a907","name":"Curtain Open","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":["a18ecb4735a77ae18319aadc9c2e7de0"],"entityId":["cover.curtain"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":780,"wires":[[]]},{"id":"e517da267decaf3f","type":"api-current-state","z":"1f930925fe64a907","name":"Am I Home","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.asfrantsoneplus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":820,"wires":[["bae4b183a2b65d36"],[]]},{"id":"a0167b2aa0f38598","type":"server-state-changed","z":"1f930925fe64a907","name":"Door Opens","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_door_sensor_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":160,"wires":[["ca30a9b591d57478","c32f382a85438fa1"],[]]},{"id":"5e7d9bf4ce16e562","type":"comment","z":"1f930925fe64a907","name":"Открытие входной двери","info":"Включение света","x":1230,"y":200,"wires":[]},{"id":"ca30a9b591d57478","type":"api-current-state","z":"1f930925fe64a907","name":"Am I Home","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":160,"wires":[[],["4344660dc561f5cd","97b8882f759afe26"]]},{"id":"4344660dc561f5cd","type":"api-call-service","z":"1f930925fe64a907","name":"Light Dim","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":160,"wires":[["108f04740275760f"]]},{"id":"108f04740275760f","type":"api-call-service","z":"1f930925fe64a907","name":"Set State to Home","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.home_come_leave"],"data":"{'option':'Home'}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":160,"wires":[[]]},{"id":"10cae5ab0b0601ce","type":"api-call-service","z":"1f930925fe64a907","name":"Turn BedsideLight On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.zigbee_switch_l2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":780,"wires":[[]]},{"id":"bae4b183a2b65d36","type":"delay","z":"1f930925fe64a907","name":"Delay 10sec","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":330,"y":860,"wires":[["4ff583d81e79d379"]]},{"id":"a41ac7df351172a0","type":"server-state-changed","z":"1f930925fe64a907","name":"Room Motion","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_move_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":480,"wires":[["343cf349fd84efc0","f97cfbd6df9a2f34"],[]]},{"id":"6cf939a723c074cc","type":"delay","z":"1f930925fe64a907","name":"Wait 1min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":680,"y":40,"wires":[["c6ae3ca2ccc83d2f"]]},{"id":"99dc5a85301c65c0","type":"api-call-service","z":"1f930925fe64a907","name":"Dim Light","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"1","valueType":"str"}],"queue":"none","x":1020,"y":40,"wires":[["6aca68f230c0acb4"]]},{"id":"6aca68f230c0acb4","type":"trigger","z":"1f930925fe64a907","name":"Wait 1min","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"min","reset":"0","bytopic":"all","topic":"topic","outputs":2,"x":680,"y":100,"wires":[[],["8284e907583e3799"]]},{"id":"bba0f160e0452a39","type":"api-call-service","z":"1f930925fe64a907","name":"Light Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":100,"wires":[[]]},{"id":"cc4539e756bb67d7","type":"api-call-service","z":"1f930925fe64a907","name":"Light 100","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"0","valueType":"str"}],"queue":"none","x":500,"y":40,"wires":[["6cf939a723c074cc","6aca68f230c0acb4"]]},{"id":"c6ae3ca2ccc83d2f","type":"api-current-state","z":"1f930925fe64a907","name":"Is Light On","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.mi_yeelink_bulb","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":850,"y":40,"wires":[["99dc5a85301c65c0"],[]]},{"id":"931872933a7b59d8","type":"api-current-state","z":"1f930925fe64a907","name":"Is Light On 100","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.mi_yeelink_bulb","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":40,"wires":[[],[]]},{"id":"8284e907583e3799","type":"api-current-state","z":"1f930925fe64a907","name":"Is Light On 50","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"half_brightness","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.light_hall_brightness","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":100,"wires":[["bba0f160e0452a39"],[]]},{"id":"3027e632acb1c60c","type":"delay","z":"1f930925fe64a907","name":"Wait 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":320,"wires":[["9b2e0efdb842e356"]]},{"id":"485a9f5d5bf9109f","type":"api-current-state","z":"1f930925fe64a907","name":"Is it Dark","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dark_outside","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1100,"y":780,"wires":[["10cae5ab0b0601ce"],[]]},{"id":"0fa62450c1ed7d6b","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Wakeup","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_morning_hello","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":820,"wires":[["db8c2d05083e4687"]]},{"id":"72d2e205c87e8b8b","type":"delay","z":"1f930925fe64a907","name":"Delay 1min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":820,"wires":[["0fa62450c1ed7d6b"]]},{"id":"ba6f91ec6d8caa4f","type":"delay","z":"1f930925fe64a907","name":"Delay 15sec","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1110,"y":860,"wires":[["dedb34a482ef96a3"]]},{"id":"dedb34a482ef96a3","type":"api-call-service","z":"1f930925fe64a907","name":"Alice News","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_news","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":860,"wires":[["5312cb236581144f"]]},{"id":"5312cb236581144f","type":"delay","z":"1f930925fe64a907","name":"Delay 2min","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":900,"wires":[["e91dd421c6b33ea3"]]},{"id":"e91dd421c6b33ea3","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Podcast","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_podcast","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":900,"wires":[[]]},{"id":"c32f382a85438fa1","type":"api-current-state","z":"1f930925fe64a907","name":"Am I Away","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Away","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.home_come_leave","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":220,"wires":[[],[]]},{"id":"c3fff62252dff7ec","type":"delay","z":"1f930925fe64a907","name":"Delay 30sec","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":780,"wires":[["38531a5bb40f6e10"]]},{"id":"8264d198938cb85e","type":"api-current-state","z":"1f930925fe64a907","name":"Is Light On 100","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"full_brightness","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.light_hall_brightness","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":100,"wires":[[],["cc4539e756bb67d7"]]},{"id":"1081bd279b9c6cbd","type":"api-current-state","z":"1f930925fe64a907","name":"Is it Evening","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.day_part","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":200,"wires":[["2b0261cd171c1ce9"],["371769509191a633"]]},{"id":"93ae1164f0caaa22","type":"api-call-service","z":"1f930925fe64a907","name":"Alice Calendar","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_today_events","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":820,"wires":[["7fd4cdaffbf2b51a"]]},{"id":"7fd4cdaffbf2b51a","type":"delay","z":"1f930925fe64a907","name":"Delay 10sec","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":860,"wires":[["4d436b8a3a2a17a2"]]},{"id":"b94effd74ea92239","type":"delay","z":"1f930925fe64a907","name":"Delay 10sec","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1030,"y":740,"wires":[["55abb4b89ee56381"]]},{"id":"55abb4b89ee56381","type":"api-call-service","z":"1f930925fe64a907","name":"Lowder","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_lowder","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":740,"wires":[[]]},{"id":"c5cb8241a13fda4a","type":"server-state-changed","z":"1f930925fe64a907","name":"Hall Motion","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.espresense_hall_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":400,"wires":[["286f1d7137c24bcb"],[]]},{"id":"286f1d7137c24bcb","type":"api-current-state","z":"1f930925fe64a907","name":"Is Light On 100","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"full_brightness","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.light_hall_brightness","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":400,"wires":[[],["f828c605834edf2e"]]},{"id":"f828c605834edf2e","type":"api-call-service","z":"1f930925fe64a907","name":"Light 100","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"0","valueType":"str"}],"queue":"none","x":500,"y":400,"wires":[["9d91c61aa66130ec"]]},{"id":"0506d1c94e2456e4","type":"server-state-changed","z":"1f930925fe64a907","name":"No Hall Motion","server":"26f5bae9.f55856","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.espresense_hall_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":440,"wires":[["343cf349fd84efc0"],[]]},{"id":"343cf349fd84efc0","type":"api-current-state","z":"1f930925fe64a907","name":"Is Light On 100","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"full_brightness","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.light_hall_brightness","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":440,"wires":[["d8c450c7b193428c"],[]]},{"id":"d8c450c7b193428c","type":"api-call-service","z":"1f930925fe64a907","name":"Dim Light","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"{\"brightness_pct\":\"50\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"1","valueType":"str"}],"queue":"none","x":500,"y":440,"wires":[["9d91c61aa66130ec"]]},{"id":"9d91c61aa66130ec","type":"trigger","z":"1f930925fe64a907","name":"Wait 5sec","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":2,"x":680,"y":440,"wires":[[],["83fe32e53192e6b0"]]},{"id":"83fe32e53192e6b0","type":"api-call-service","z":"1f930925fe64a907","name":"Light Off","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["bedroom"],"deviceId":["082a60f422440c2528c8c250f41236e0"],"entityId":["light.mi_yeelink_bulb"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":440,"wires":[[]]},{"id":"f97cfbd6df9a2f34","type":"api-current-state","z":"1f930925fe64a907","name":"Is it Evening","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.day_part","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":480,"wires":[["1bdd384ff0694790","791fbef8ef9583b4"],[]]},{"id":"4494f9cec7f97bf8","type":"api-call-service","z":"1f930925fe64a907","name":"Light On","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.mi_philips_bulb_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":480,"wires":[[]]},{"id":"1bdd384ff0694790","type":"api-current-state","z":"1f930925fe64a907","name":"Light in Room","server":"26f5bae9.f55856","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.mi_philips_bulb_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":480,"wires":[[],["4494f9cec7f97bf8"]]},{"id":"791fbef8ef9583b4","type":"api-call-service","z":"1f930925fe64a907","name":"Sound Low","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.yandex_station_ff98f0294a56d19578794aff"],"data":"{'volume_level':0.3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":520,"wires":[[]]},{"id":"f568d5aa6c08392c","type":"delay","z":"1f930925fe64a907","name":"Delay 10sec","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":970,"y":700,"wires":[["7d298c609f181c0a"]]},{"id":"7d298c609f181c0a","type":"api-call-service","z":"1f930925fe64a907","name":"Lowder","server":"26f5bae9.f55856","version":5,"debugenabled":false,"domain":"script","service":"yandex_tts_lowder","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":700,"wires":[["b94effd74ea92239"]]}]